[submodule "OpenSfM"]
	path = OpenSfM
	url = https://github.com/mapillary/OpenSfM
[submodule "OpenMVS"]
	path = OpenMVS
	url = https://github.com/cdcseacave/openMVS
[submodule "VCG"]
	path = VCG
	url = https://github.com/cdcseacave/VCG
[submodule "example/sceaux-castle"]
	path = example/sceaux-castle
	url = https://github.com/openMVG/ImageDataset_SceauxCastle
[submodule "OpenGV"]
	path = OpenGV
	url = https://github.com/paulinus/opengv
